extends layout

block content
  div.container-fluid
    div.page-header
      h1= title
    div.row-fluid
      div.span3
        small Welcome #{name}
        form(id='search_form', action='GET')
          input(name='keywords', type='text', placeholder="What's on your mind ?")
          input.btn.btn-primary(name='search', type='submit', value='Search')
        div.other_searches
          small Interesting searches:
          ul
        p &copy; Unison 2012
      div.search_results.span9
        h3 Search results
        